* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: rgb(212, 208, 208);
}

.container {
    width: 700px;
    height: 64vmin;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px;

}

h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container input {
    width: 90%;
    margin-left: 5px;
    margin-top: 10px;
    height: 30px;
}

h5 {
    font-size: 1.5rem;
    margin-left: 5px;
}

.container p {
    margin: 10px 0 10px 5px;
    font-size: 1.5rem;
}

.container button {
    width: 90%;
    margin: 15px 0 10px 5px;
    height: 35px;
    text-transform: uppercase;
    background: rgb(44, 210, 44);
    border: none;
    box-shadow: 0 0 5px 2px black;
    border-radius: 5px;
}

h2 {
    margin-left: 5px;
}

@media only screen and (min-width:390px) and (max-width:932px) {
    .container{
        width: 90%;
        height: 60vh;
    }

    
}
@media only screen and (max-width:389px){
    .container{
        width: 90%;
        height: 70vh;
    }
h1{
    font-size: 2rem;
}
    
}
@media only screen and (min-width:768px) and (max-width:1024px) {
    .container{
        width: 90%;
        height: 50vmin;
    }
h1{
    font-size: 4rem;
    
}
    
}
